---

---

<footer class="border-t border-slate-300 px-4">
  <div
    class="grid md:grid-cols-3 md:gap-x-12 place-items-start max-w-4xl mx-auto"
  >
    <div class="bg-red-500 w-full">
      <a href="/gallery-test"> Hey </a>
    </div>
    <div class="bg-green-500 w-full">Boo</div>
    <div class="bg-blue-500 w-full">Yo!</div>
  </div>

  <div class="my-4 text-center">
    &copy;
    <span id="copyright">
      <script>
        document
          .getElementById("copyright")
          .appendChild(document.createTextNode(new Date().getFullYear()));
      </script>
    </span>
    Matthew O&apos;Leary
  </div>
</footer>
