---
import { Image } from "astro:assets";
import image01 from "../assets/image01.jpg";
import image02 from "../assets/image02.jpg";
---

<html lang="en">
  <head>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
    />
  </head>
  <body>
    <main class="content-grid">
      <div class="swiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <Image src={image01} alt="Decorative" />
          </div>
          <div class="swiper-slide">
            <Image src={image02} alt="Decorative" />
          </div>
        </div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
      </div>
    </main>
  </body>
</html>

<style>
  .swiper {
    width: 600px;
    height: 300px;
  }
</style>
<script
  is:inline
  src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
<script is:inline>
  const swiper = new Swiper(".swiper", {
    navigation: {
      nextEl: ".swiper-button-next",
      prevEl: ".swiper-button-prev",
    },
  });
</script>
@matto2 Comment
